<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alt Text Plugin</title>
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>
    <div id="container">
        <!-- img elements with alt attribute not set correctly-->
        <img src="../images/nasa.png" alt=""/>
        <img src="../images/android.png" alt="  "/>
    </div>
    <!-- script to dynamically add two new img elements to document -->
    <script src="../scripts/index.js"></script>
</body>
</html>